<div class = "side_top">

 <div class="name">
 <a href="#">Tom</a>
 </div>

 <div class="chat_link">
 <a href="#">チャットを作成する</a>
 </div>

</div>






<div class = "side_center">

<div class="chat_room">
<div class="chat_room_name">
<a href="#">Techroom1</a>
</div>
</div>

<div class="chat_room">
<div class="chat_room_name">
<a href="#">Techroom2</a>
</div>
</div>

</div>

